extend ../includes/head
block content 
  .content
    .content_nav
      .nav_new.active
        .nav_icon_bar#new_user
          a(href="/new")
            img(src="./images/new_user.png")
            .nav_title 新增客户
      .nav_new 
        .nav_icon_bar#new_order
          a(href="/order")
            img(src="./images/new_order.png")
            .nav_title 添加订单
      .nav_new 
        .nav_icon_bar
          a(href="/good") 
            img(src="./images/new_good.png")
            .nav_title 货品管理
      .nav_new 
        .nav_icon_bar#new_find
          a(href="/find") 
            img(src="./images/new_find.png")
            .nav_title 货单查询
    .content_box
      if goods
        table.usertable
          thead
            tr
              th 货品标识
              th 货品名称
              th 货品价格
              th 货品数量
              //- th 电话
          tbody
            each good in goods
              tr.user_row
                td #{good._id}
                td #{good.goodname}
                td ￥#{good.goodvalue}
                td #{good.goodamount}
                //- td #{user.telephone}
      else
        .new_input_bar
          form(method="POST" action='/nwgood')
            input(type="text",placeholder="货物标识，系统自动生成",disabled="disabled")
            input(type="text",placeholder="货物姓名",name='good[goodname]')
            input#goodvalue(type="text",placeholder="货物价格",name="good[goodvalue]")
            input#goodamount(type="text",placeholder="货物数量",name="good[goodamount]")
            button.loginbtn(type="submit") 提交
          form(method="GET" action='/fdgood')
            button.loginbtn#findbtn(type="submit") 查询 

  script(src="js/jquery.min.js")
  script(src="js/content.js")